@tailwind base;
@tailwind components;
@tailwind utilities;
html
{
    height: -webkit-fill-available;
}
body
{
    background-color: #bad3f7;
    height: -webkit-fill-available;
}
.header
{
    backdrop-filter: blur(2px);
    background-color: rgba(3, 99, 255, 0.685);
}
.things
{
    font-weight: bolder;
    padding: 20px;
}
.order:hover
{
    animation: filling 0.5s forwards;
}
@keyframes filling {
    from
    {
        background-color: rgb(82, 139, 237);
    }
    to
    {
        background-color: white;
        color: rgba(3, 99, 255, 0.685);
    }
}
.pics
{
    z-index: -10;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.products
{
    display: flex;
    place-content: center;
}
@media all and (max-width:500px) {
    .products
    {
        display: block;
        place-content: center;
        align-items: center;
    }
    .headerdiv
    {
        display: none;
        z-index: 1;
    }
    .tohide
    {
        display: none;
    }
    .aboutus
    {
        margin:0;
        padding: 0;
    }
    .proj
    {
        display: grid;
        grid-template-columns: 80px 80px;
        place-content: center;
        align-items: center;
        padding: none;
        margin:auto;
    }
    .projimg
    {
        padding-bottom:0%;
        max-height: 80px;
    }
    .pics
    {
        z-index: -10;
        position: absolute;
        overflow: hidden;
        width: 100%;
        padding-top: 8rem;
    }
    .aboutus
    {
        background-image:linear-gradient(to right,rgb(69, 192, 249),rgba(255, 255, 255, 0.549));
        margin-right: 30%;
        padding-top:10% ;
        height: auto;
        overflow: hidden;
        width: 100%;
    }
    .about
    {
        margin-top:auto;
        background-image:url("src/assets/about.jpg");
        background-size:cover;
        background-repeat:no-repeat;
    }
}
::-webkit-scrollbar {
    display: none;
}
.about
{
    background-image:url("src/assets/about.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}
.aboutus
{
    background-image:linear-gradient(to right,rgb(69, 192, 249),rgba(255, 255, 255, 0.549)) ;
    margin-right: 30%;
    padding-top:10% ;
    height: 100vh;
}
.images
{
    width: 100bh;
    height: 100vh;
}
.heading
{
    font-family: 'Alfa Slab One', serif;
    font-size: xx-large;
}
.pcard:hover
{
    transform: translatey(-10px);
}