@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
    background-color: #d6d6d6;
}
.header
{
    backdrop-filter: blur(2px);
    background-color: rgba(3, 99, 255, 0.685);
}
.things
{
    font-weight: bolder;
    padding: 20px;
}
.order:hover
{
    animation: filling 0.5s forwards;
}
@keyframes filling {
    from
    {
        background-color: rgb(82, 139, 237);
    }
    to
    {
        background-color: white;
        color: rgba(3, 99, 255, 0.685);
    }
}
.pics
{
    z-index: -10;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.products
{
    display: flex;
    place-content: center;
}
@media all and (max-width:500px) {
    .products
    {
        display: block;
        place-content: center;
        align-items: center;
    }
    .headerdiv
    {
        display: none;
        z-index: 1;
    }
}